.hero {
  height: 100vh;
  width: 100vw;
  color: #00ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mq-med {
    min-height: 480px;
    padding-bottom: 32px;
  }

  &__content {
    display: flex;
    text-align: center;

    @include mq-lrg {
     padding-left: 0px;
      padding-right: 0px;
    }

    @include mq-med {
      padding-left: 16px;
      padding-right: 16px;
    }

    @include mq-sml {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__header {
    padding: 100px 40px 200px 40px;
    position: relative;

    @include mq-med {
      z-index: 6;
      max-width: 360px;
    }
  }

  &__logo {
    line-height: 1.3;
    position: relative;
    color:#00ffff;
    // margin-top: 10px;
    //margin-bottom: 40px;    

    @include mq-med {
      @include font-size(1.4);
      max-width: 240px;
    //   padding-top: 20px;
    // margin-bottom: 10px;
    }
  }


  &__bal {
    @include font-size(3);
    font-family: "Lato-Bold";
    font-weight: 480;
    line-height: 1.3;
    padding-bottom: 20px;
    position: relative;
    color:#46bbf4;
    

    @include mq-med {
      @include font-size(2);
    }
  }


  &__bal2 {
    @include font-size(2.2);
    font-family: "Lato-Bold";
    font-weight: 480;
    line-height: 1.3;
    padding-bottom: 20px;
    position: relative;
    color:#ddd;
    

    @include mq-med {
      @include font-size(1.6);
    }
  }
  
  
  &__warn {
    @include font-size(1.8);
    font-family: "Lato";
    font-weight: 480;
    line-height: 1.3;
    padding-bottom: 20px;
    position: relative;
    color:#46bbf4;
    

    @include mq-med {
      @include font-size(1.6);
    }
  }

  &__neat {
    @include font-size(1.8);
    font-family: "Lato-Bold";
    font-weight: 360;
    line-height: 1.3;
    padding-bottom: 40px;
    position: relative;
    color:#00ffff;
    

    @include mq-med {
      @include font-size(1.6);
    }
  }

  &__balance {
    @include font-size(2.5);
    font-family: "Lato-Bold";
    font-weight: 360;
    line-height: 1.3;
    padding-bottom: 400px;
    position: relative;
    color: #00ffff;
    

    @include mq-med {
      @include font-size(1.8);
    }
  }

  &__walFile {
    @include font-size(2.2);
    font-family: "Lato-Bold";
    font-weight: 360;
    line-height: 1.3;
    padding-bottom: 20px;
    padding-top: 10px;
    position: relative;
    color: #838383;
    align-items: center;
    

    @include mq-med {
      @include font-size(1.7);
    }
  }

  &__title {
    @include font-size(2.4);
    font-family: "Lato-Regular";
    font-weight: 360;
    line-height: 1.3;
    padding-bottom: 20px;
    position: relative;
    color: #fff;
    align-items: center;
    

    @include mq-med {
      @include font-size(1.2);
    }
  }


  &__walInfoAddLeft {
    @include font-size(2);
    font-family: "Lato-Regular";
    font-weight: 360;
    line-height: 1.3;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 10px;
    color: #00ffff;
    align-items: center;
    @media screen {
      text-align: center;
    }

    @include mq-med {
      @include font-size(1.2);
    }
  }

  &__walInfoAddRight {
    @include font-size(2);
    font-family: "Lato-Regular";
    font-weight: 360;
    line-height: 1.3;
    padding-bottom: 20px;
    text-align: right;
    margin-right: 10px;
    color: #15ff00;
    align-items: center;
    
    @media screen {
      text-align: center;
      margin: auto;
    }
    @include mq-med {
      @include font-size(1.2);
    }
  }

  &__wallet-description {
    @include font-size(2.6);
    font-family: "Anita";
    font-weight: 420;
    line-height: 1.3;
    padding: 2em;
    position: relative;
    color: #fff;
    align-items: center;
    @include mq-med {
      @include font-size(1.8);
    }
  }



  &__title-page {
    @include font-size(2.6);
    font-family: "Anita";
    font-weight: 420;
    line-height: 1.3;
    padding-bottom: 0.7em;
    position: relative;
    color: #fff;
    align-items: center;   

    @include mq-med {
      @include font-size(1.8);
    }
  }

  &__title-ks {
    @include font-size(2.4);
    font-family: "Lato-Regular";
    font-weight: 360;
    line-height: 1.3;
    padding-bottom: 20px;
    padding-top: 10px;
    position: relative;
    color: #00ffff;
    align-items: center;
    

    @include mq-med {
      @include font-size(1.8);
    }
  }

  &__title-addy {
    @include font-size(2.4);
    font-family: "Lato-Regular";
    font-weight: 360;
    line-height: 1.3;
    padding-bottom: 20px;
    position: relative;
    color: #00ffff;
    align-items: center;
    

    @include mq-med {
      @include font-size(1.8);
    }
  }

  &__title2 {
    @include font-size(2.4);
    font-family: "Lato-Bold";
    font-weight: 360;
    line-height: 1.3;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    color: #00ffff;
    align-items: center;
    

    @include mq-med {
      @include font-size(1.8);
    }
  }



  &__title4 {
    @include font-size(2.4);
    font-family: "Lato-Bold";
    font-weight: 360;
    line-height: 1.3;
    margin-top: 60px;
    position: relative;
    color: #00ffff;
    align-items: center;
    

    @include mq-med {
      @include font-size(1.8);
    }
  }

  &__title-claim {
    @include font-size(2.4);
    font-family: "Lato-Bold";
    font-weight: 360;
    line-height: 1.3;
    margin-top: 20px;
    position: relative;
    color: #00ffff;
    align-items: center;
    

    @include mq-med {
      @include font-size(1.8);
    }
  }  

  &__subTitle {
    @include font-size(1.8);
    font-family: "Anita";
    line-height: 1.8;
    position: relative;
    color: #00ffff;   
  }
  &__subTitle2 {
    @include font-size(1.8);
    font-family: "Lato-Regular";
    line-height: 1.8;
    position: relative;
    color: #DDDDDD; 
    margin-top: 40px;  
  }




  &__subTitle3 {
    @include font-size(1.6);
    font-family: "Computer";
    line-height: 1.8;
    position: relative;
    color: #46bbf4;
    margin-bottom: 40px;
    padding-bottom: 1.2em;
  }

  &__subTitle7 {
    @include font-size(2.2);
    font-family: "Lato-Regular";
    line-height: 2.2;
    position: relative;
    color: #46bbf4;   
    margin-bottom: 40px;
  }

  &__subTitle-ks {
    @include font-size(1.4);
    font-family: "Lato-Regular";
    font-weight: 480;
    line-height: 1.3;
    position: relative;
    color:#00ffff;
    

    @include mq-med {
      @include font-size(1.2);
    }
  }


  &__privKeyTitle {
    @include font-size(2);
    font-family: "Lato-Regular";
    font-weight: 480;
    line-height: 1.3;
    padding-top: 10px;
    margin: 20px;
    position: relative;
    color:#DDDDDD;
    
    

    @include mq-med {
      @include font-size(1.6);
    }
  }


  &__inputs {
    @include font-size(2.8);
    margin: auto;
    width: 75vw;
    max-width: 740px;
    font-family: "Anita";
    background-color: #1f2331 ;
    border-style: solid;
    border-radius: 10px;
    border-color: #000;
    box-sizing: 1px;
    text-align: center;
    line-height: 1.8;
    position: relative;
    color: #fff;   
    @include mq-med {
      @include font-size(1.6);
    }
  }

  &__input-ks {
    @include font-size(1.6);
    margin: auto;
    width: 66vw;
    max-width: 320px;
    font-family: "Anita";
    background-color: transparent;
    border-style: solid;
    border-color: #00ffff;
    text-align: center;
    line-height: 1.8;
    position: relative;
    color: #DDDDDD;   
  }


  &__input1 {
    @include font-size(1.8);
    margin: auto;
    width: 75vw;
    max-width: 740px;
    font-family: "Anita";
    background-color: #1f2331 ;
    border-style: solid;
    border-radius: 10px;
    border-color: #000;
    box-sizing: 1px;
    text-align: center;
    line-height: 1.8;
    position: relative;
    color: #fff;    
    @include mq-med {
      @include font-size(1.6);
    }
  }

  &__input2 {
    @include font-size(1.8);
    margin: auto;
    width: 34vw;
    max-width: 540px;
    font-family: "Anita";
    background-color: #1f2331 ;
    border-style: solid;
    border-radius: 10px;
    border-color: #000;
    box-sizing: 1px;
    text-align: center;
    line-height: 1.8;
    position: relative;
    color: #fff;    
    @include mq-med {
      @include font-size(1.6);
    }
  }

  &__sysRequirement {
    @include font-size(2);
    font-family: "Lato-Regular";
    line-height: 2.2;
    position: relative;
    color: #00ffff;
    padding-bottom: 40px;
    padding-left: 25%;
    padding-right: 25%;
  }
}

.box-btn {
display:flex;
}

.box1 {

  // padding-top: 20px;
  // margin-top: 10px;
  padding-bottom: 20px;
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: transparent;
  width: 95vw;
  max-width: 1020px;
  align-content: center;
  margin: 0px auto 0px auto;
  position: relative;
  box-sizing: 1px;
  box-shadow: 0 10px 40px #000;
}

.box2 {

  // padding-top: 20px;
  // margin-top: 10px;
  padding-bottom: 20px;
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: yellow;
  width: 95vw;
  max-width: 1020px;
  align-content: center;
  margin: 0px auto 0px auto;
  position: relative;
  box-sizing: 1px;
  box-shadow: 0 10px 40px #000;
}


.box7 {
  // display: none;
  box-align: start;
  border-top-right-radius: 8px; 
  border-top-left-radius: 8px; 
  background: #1f2331;
  width: 160px;
  height: 48px;
  max-width: 1020px;
  box-sizing: 1px;
  border: 1px solid #202020;
  margin-top: 25px;

}

.box8 {
  // display: none;
  box-align: start;
  border-top-right-radius: 8px; 
  border-top-left-radius: 8px; 
  background: #3e414d;
  width: 160px;
  height: 48px;
  max-width: 1020px;
  box-sizing: 1px;
  border: 1px solid #202020;
  margin-top: 25px;
}

.riplex {
  @include font-size(2.2);
  font-family: "Anita";
  font-weight: 480;
  line-height: 1.3;
}



.subTitle7 {
  @include font-size(2.2);
  font-family: "Anita";
  line-height: 1.8;
  text-align: center;

  color: #DDDDDD; 
 
 

  // margin-top: 40px;  
}

.breeding-rhombus-spinner {
  margin: auto;
  height: 65px;
  width: 65px;
  position: relative;
  transform: rotate(45deg);
}

.breeding-rhombus-spinner, .breeding-rhombus-spinner * {
  box-sizing: border-box;
}

.breeding-rhombus-spinner .rhombus {
  height: calc(65px / 7.5);
  width: calc(65px / 7.5);
  animation-duration: 2000ms;
  top: calc(65px / 2.3077);
  left: calc(65px / 2.3077);
  background-color: #fff;
  position: absolute;
  animation-iteration-count: infinite;
}

.breeding-rhombus-spinner .rhombus:nth-child(2n+0) {
   margin-right: 0;
 }

.breeding-rhombus-spinner .rhombus.child-1 {
  animation-name: breeding-rhombus-spinner-animation-child-1;
  animation-delay: calc(100ms * 1);
}

.breeding-rhombus-spinner .rhombus.child-2 {
  animation-name: breeding-rhombus-spinner-animation-child-2;
  animation-delay: calc(100ms * 2);
}

.breeding-rhombus-spinner .rhombus.child-3 {
  animation-name: breeding-rhombus-spinner-animation-child-3;
  animation-delay: calc(100ms * 3);
}

.breeding-rhombus-spinner .rhombus.child-4 {
  animation-name: breeding-rhombus-spinner-animation-child-4;
  animation-delay: calc(100ms * 4);
}

.breeding-rhombus-spinner .rhombus.child-5 {
  animation-name: breeding-rhombus-spinner-animation-child-5;
  animation-delay: calc(100ms * 5);
}

.breeding-rhombus-spinner .rhombus.child-6 {
  animation-name: breeding-rhombus-spinner-animation-child-6;
  animation-delay: calc(100ms * 6);
}

.breeding-rhombus-spinner .rhombus.child-7 {
  animation-name: breeding-rhombus-spinner-animation-child-7;
  animation-delay: calc(100ms * 7);
}

.breeding-rhombus-spinner .rhombus.child-8 {
  animation-name: breeding-rhombus-spinner-animation-child-8;
  animation-delay: calc(100ms * 8);
}

.breeding-rhombus-spinner .rhombus.big {
  height: calc(65px / 3);
  width: calc(65px / 3);
  animation-duration: 2000ms;
  top: calc(65px / 3);
  left: calc(65px / 3);
  background-color: #46bbf4;
  animation: breeding-rhombus-spinner-animation-child-big 2s infinite;
  animation-delay: 0.5s;
}


@keyframes breeding-rhombus-spinner-animation-child-1 {
  50% {
    transform: translate(-325%, -325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-2 {
  50% {
    transform: translate(0, -325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-3 {
  50% {
    transform: translate(325%, -325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-4 {
  50% {
    transform: translate(325%, 0);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-5 {
  50% {
    transform: translate(325%, 325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-6 {
  50% {
    transform: translate(0, 325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-7 {
  50% {
    transform: translate(-325%, 325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-8 {
  50% {
    transform: translate(-325%, 0);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-big {
  50% {
    transform: scale(0.5);
  }
}

.body-container {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}


  
.button {
	border: none;
	padding: 10px 17px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	color: #000;
	background-color: #00ffff;
	outline: none;
  }




  .wallet-container {
    margin-top: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 950px;
    width: 100%;
    background-color: #24292f;
    margin-left: auto;
    margin-right: auto;
    // border: #00ffff;
    // border-style: solid;
    // border-width: 1px;
    @media screen and (max-width: 480px) {
      align-items: center;
    
      margin-top: 15%;
      margin-left: 10px;
      margin-right: 10px;
    }

  
  }

  .wallet-container-left {
    margin-left: 10px;
    padding-top: 10px;
    // padding-bottom: 40px;
    max-width: 550px;
    //width: 100%;
   
    // margin-left: auto;
    margin-right: auto;
    border: #00ffff;
    border-style: solid;
    border-width: 1px;
    @media screen and (max-width: 480px){
      align-items: center;
      margin: auto;
      margin-top: 10px;
    }
  
  }

  .wallet-container-right {
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 350px;
    width: 100%;
  
    margin-left: auto;

    border: #00ffff;
    border-style: solid;
    border-width: 1px;
    align-items: right;
    //justify-content: center;

    @media screen and (max-width: 480px){
      align-items: center;
      margin: auto;
      margin-top: 10px;
    }

  
  }

  



.content-container {

	max-width: $contentWidth;
	width: 100%;
	align-items: center;
	justify-content: center;

}

.ripple {
	@include font-size(2.5);
  font-weight: bold;
	background-position: center;
	transition: background 0.2s;
	padding: 16px 24px;
  background: linear-gradient(to left, #46bbf4, #2472fc);
  
  }
  .ripple:hover {
    color:#fff; 
    font-weight: normal;
	text-transform: uppercase;
	background: #5983FC radial-gradient(circle, transparent 1%, #5983FC 1%) 
	center/15000%; 
  }

  .ripple:active {
	background-color: #24292f;
  border-color: #15ff00;
  color:#DDDDDD;
	background-size: 100%;
	transition: background 0s;
  }




.ripple2 {
	@include font-size(1.5);
	background-position: center;
	transition: background 0.4s;
	padding-top: 10px;
  border-color: #FF0000;
  }
  .ripple2:hover {
	
	background: #FF0000 radial-gradient(circle, transparent 1%, #FF0000 1%) 
	center/15000%;
  }
  .ripple2:active {
	background-color: #FF0000;
	background-size: 100%;
	transition: background 0s;
  }


.section {
  //padding: 20px;
  
  
  display: flex;
  justify-content: center;


  &--cards {
    padding: 10px;
  }
  &--spacing-bottom {
    margin-bottom: 40px;
  }

  &--spacing-bottom-lg {
    margin-bottom: 80px;
  }

  &__intro {
    padding: 30px 0;
    margin-bottom: 30px;
  }

  &__content {
    background-color: transparent;
    position: relative;
    padding-bottom: 0;

    &--hr-top {
      border-top: 1px solid $divider;
    }

    &--hr-bottom {
      border-bottom: 1px solid $divider;
    }

    &--tint {
      background: #FFFFFF;
    }

    &--thin-top {
      padding-top: 0;
    }

    @include mq-lrg {

    }

    @include mq-med {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 30px;
    }

    @include mq-sml {
      padding-left: 16px;
      padding-right: 16px;
    }
  }


  &--background-alt {
    background-color: transparent;  
  }

  &--light {
    background:transparent;
  }

  &__title-container {
    &--indent {
      padding: 0 80px;

      @include mq-lrg {
        padding: 0;
      }
    }

    &--indent-tint {
      padding: 0 30px;
    }

    &--spacing-bottom {
      padding-bottom: 30px;
    }
  }

  &__title-sub-container {
    display: flex;
    justify-content: space-between;

    @include mq-med {
      display: block;
    }
  }

  &__title {
    @include title-underline(10px, 100px);
    margin-bottom: 20px;

    &--alt {
      @include font-size(2.4);
    }

    @include mq-sml {
      @include font-size(2.4);
    }
  }

  &__subTitle {
    @include font-size(1.6);
    padding-right: 100px;

    @include mq-med {
      margin-bottom: 20px;
    }
  }

  &__more-link {
    a {
      @include font-size(1.5);
      @include link-arrow(default);
      color: $highlight;
    }
  }
}

.header-section {
  padding-top: 100px;
  width: 100%;
  max-width: $contentWidth;
  border-width: 0px 0px 1px;

  &__content {
    display: flex;


    &--spacing-bottom {
      margin-bottom: 40px;
      margin-top: 40px;
    }

    @include mq-lrg {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include mq-med {
      display: block;
      padding-left: 20px;
      padding-right: 20px;
    }

    @include mq-sml {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__heading {
    flex: 1;
    padding-top: 20px;
  }

  &__title {
    @include font-size(2.4);
    font-weight: 700;
    color: #00ffff;
    margin-bottom: 10px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-top: 24px;
    position: relative;

    @include mq-sml {
      @include font-size(4);
    }

    @include mq-xsml {
      @include font-size(3.8)
    }

    &::after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      background: transparent;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.wallet-terms{
  color: #3c8adf;
  font-family: Anita;
  padding-top: 4em;
}

.cards-grid {
  display: flex;
  justify-content: center;
  @include mq-sml {
    width: auto;
    height: auto;
    padding-top: 140px;
    padding: 36px;
  flex-wrap: wrap;
  }

  &.spacing {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__item {
    width: 72em;
    height: 48rem;
    padding: 36px;
    border-radius: 10px;
    box-shadow: 0 10px 40px #000;
    border-radius: 10px;
    margin: 20px 40px 0px 40px;
    background-color: transparent;

    @include mq-xsml {
      max-width: none;
    }
    @include mq-sml {
      width: auto;
      height: auto;
      padding: 36px;
    flex-wrap: wrap;

    }
  }

  &__graphic {
    margin: 0px 0px 30px;
    align-items: center;


    @include mq-xsml {
      margin: 0px 0px 12px;
    }
  }

  &__icon {
    // border-radius: 26px;
    display: flex;
    justify-content: center;
    display: inline-block;
    width: 8em;
    height: 8em;

    background-repeat: none;
    background-position: center center;
    background-size: cover;


    &--create {
      background-image: url('assets/images/wal-icon.png');
    }

    &--send {
      background-image: url('assets/images/send.png');
    }

    &--stake {
      background-image: url('assets/images/reg-val.png');
    }

    &--unencrypted {
      background-image: url('assets/images/unencrypted.png');
    }

    &--encrypted {
      background-image: url('assets/images/encrypted.png');
    }
    &--encrypt {
      background-image: url('assets/images/encrypt-icon.png');
    }

    &--decrypt {
      background-image: url('assets/images/decrypt-icon.png');
    }

  }

  &__title {
    @include font-size(2.2);
    color:#46bbf4;
    font-weight: 400;
    margin-bottom: 12px;
    font-family: Anita;
  }

  &__description {
    @include font-size(1.5);

    line-height: 1.5;
  }
}




.footer {
  @include primary-font;
  width: 100%;
  background: transparent;
  color: #DDDDDD;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq-med {
    position: relative;

  }

  @include mq-lrg {
    .navActive & {
      display: none;
    }
  }

  &__copyright {
    @include font-size(1.3);
    padding: 12px;
  }

  &__logo {
margin-top: 20px;
  }

  &__main {
    text-align: center;
    width: 100%;
    display: block;
    max-width: 1000px;
    display: flex;

    @include mq-med {
      display: block;
    }
  }

  &__col {
    &--left {
      flex: 1;

      @include mq-lrg {
        margin-bottom: 30px;
      }
    }
  }

  &__social {
    ul {
      li {
        display: inline-block;
        margin-inline: 8px;
        margin-bottom: 8px;
        margin-top: 20px;
      }
    }

    @include mq-lrg {
      text-align: center;

      ul li:last-child {
        margin-right: 10px;
      }
    }


  }

  &__menu-wrapper {
    max-width: 1000px;
    display: flex;
    padding: 0 0 20px 50px;
    margin: auto;

    @include mq-med {
      display: block;
      justify-content: center;
      padding: 0;
    }
  }

  &__menu_block {
    margin: 0 30px;

    @include mq-med {
      margin: 0 0 30px;
      text-align: center;
    }
  }

  &__menu_caption {
    @include font-size(1.3);
    font-family: "Anita";
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 1.6;

    @include mq-med {
      @include font-size(1.4);
      margin-bottom: 10px;
    }
  }

  &__menu_item {
    margin-bottom: 5px;

    a {
      @include font-size(1.3);
      color: #DDDDDD;
      line-height: 1.4;
      transition: color 0.3s ease;
      position: relative;
      padding-left: 15px;
      
      &:before {
        content: '';
        width: 11px;
        height: 11px;
        position: absolute;
        background-size: cover;
        top: 3px;
        left: 0;
      }
    }
  }

  &__bottom {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;

    a {
      @include font-size(1.2);
      transition: color 0.3s ease;
      color: #DDDDDD;
      margin: 0 5px;
      display: inline-block;

      &:hover {
        transition: color 0.3s ease;
      }
    }
  }

  &__bottom-info {
    p {
      margin-bottom: 15px;
      line-height: 1.4;
      a {
        color: #DDDDDD;
        text-decoration: none;
        transition: color 0.3s ease;
        &:hover {
          color: #3c8adf;
          transition: color 0.3s ease;
        }
      }

      &.footer__powered-by {
        margin: 30px 0 5px;
        font-size: 12px;
      }
    }
  }

  .theme-bar {
    position: absolute;
    top: 0;
    height: 5px;
  }
}

.disclaimer {
  max-width: 600px; 
  margin: 0 0 100px;
  color: #fff;

  .list__item {
    margin-bottom: 20px;
  }
}

.risk-statement {
  max-width: 600px; 
  margin: 0 0 100px;

  .list__item {
    margin-bottom: 20px;
  }
}
