html {
	height: 100vh;

	
}

body {
	@include font-size(1.6);
	@include primary-font;
	background: linear-gradient(to left,#24243e, #302b63, #24243e);
	height: 100vh;
	line-height: 1.4;
    

	@include mq-sml {
		.hide-sml {
			display: none;
			
		}
	}
}

h1 {
	@include font-size(3.6);
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 1.4;
}

h2 {
	@include font-size(2.2);
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 20px;
}

h3 {
	@include font-size(1.8);
	font-weight: 700;
	margin-top: 40px;
	text-align: center;
}

h4 {
	@include font-size(1.6);
	font-weight: 700;
	text-align: center;
}

p {
	
	@include font-size(1.6);
	line-height: 1.5;
	margin-top: 20px;

	text-align: center;

	strong {
		font-weight: 700;
	}
}

ul, li {
	
	@include font-size(1.6);
}

a {
	
	color: #FFF;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	&.button-link {
		@include link-arrow(main);
		border: solid 1px $highlight;

		&--main {
			@include link-arrow(main);
			border: solid 1px $highlight;
			color: $highlight;
		}

		&--light {
			@include link-arrow(light);
			border: solid 1px $contentLight;
			color: $contentLight;
		}

		&--dark {
			@include link-arrow(dark);
			border: solid 1px $contentPrimary;
			color: $contentPrimary;
		}

		padding: 10px 36px 10px 20px;
		position: relative;

		&:after {
			top: 16px;
			right: 18px;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

.brand {
	font-size: 24px;
	font-family: 'Anita';
}


button {
	border: none;
	padding: 10px 17px;
	font-size: 6rem;
	min-width: 140px;
	font-family: Anita;
	text-transform: uppercase;
	cursor: pointer;
	color: #000 ;
	background-color: transparent;
	border-radius: 10px;
	outline: none;
  }
  



.content-container {

	max-width: $contentWidth;
	width: 100%;
	align-items: center;
	justify-content: center;

}

.ripple {
	@include font-size(2.5);
	background-position: center;
	transition: background 0.4s;
	padding-top: 10px;
  }
  .ripple:hover {
	border-color: #496785;
	background: #24292f radial-gradient(circle, transparent 1%, #24292f 1%) 
	center/15000%;
  }
  .ripple:active {
	background-color: #24292f;
	background-size: 100%;
	transition: background 0s;
  }


.ripple2 {
	@include font-size(1.5);
	background-position: center;
	transition: background 0.4s;
	padding-top: 10px;
  }
  .ripple2:hover {
	
	background: red radial-gradient(circle, transparent 1%, #00ffff 1%) 
	center/15000%;
  }
  .ripple2:active {
	background-color: red;
	background-size: 100%;
	transition: background 0s;
  }

.btn {
	padding: 10px ;
}
  


