$contentPrimary: #DDDDDD;
$contentMed: #5b5b5b;
$contentLight: #DDDDDD;
$light: #DDDDDD;
$dark: #222222;
$divider: #dddddd;
$highlight: #00BFFF;
$navHighlight: #A6FF33;
$darkHighlight: #00BFFF;
$headerHeight: 68px;
$contentWidth: 1100px;
$positive: #8fffa1;
$negative: #fda8ac;
$linkHoverDark: #999;
$background: #222222;
$themeDark: #1A1F33;
$primaryFont: 'Lato-Regular';
$secondFont: 'Computer';