$contentPrimary: #ddd;
$contentMed: #5b5b5b;
$contentLight: #ddd;
$light: #ddd;
$dark: #222222;
$divider: #ddd;
$highlight: #00ffff;
$navHighlight: #46bbf4;
$darkHighlight: #00ffff;
$headerHeight: 68px;
$contentWidth: 1440px;
$positive: #8fffa1;
$negative: #fda8ac;
$linkHoverDark: #999;
$background: #222222;
$themeDark: #1A1F33;
$primaryFont: 'Anita';
$secondFont: 'Computer';